<h2 class="text-center text-dark my-4 font-weight-bold">Product List</h2>
<div class="container">
    <div class="justify-content-center" style="overflow-x: scroll;">
        <table class="table">
            <thead class="text-white bg-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>MRP</th>
                    <th>offer Price</th>
                    <th>Stock</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-dark">
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.price.retailPrice | currency: 'INR'}}</td>
                    <td>{{product.price.offerPrice | currency: 'INR'}}</td>
                    <td>{{product.stock}}</td>
                    <td><img src="assets/images/samsung.jpg" width="100" class="img-fluid"></td>
                    <td>
                        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                            <button class="btn btn-success" (click)="edit(product.id)">Edit</button>
                            <button class="btn btn-danger" (click)="Delete(product.id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
        </table>
    </div>
</div>