<div class="wrap">
    <div class="feedback">
        <h1>Feedback Form</h1>
        <form action="">
            <div class="row">
                <input type="text" id="text" class="row_input" required>
                <label for="text" class="label">enter you name</label>
            </div>
            <div class="row">
                <input type="email" id="email" class="row_input" required>
                <label for="email" class="label">your email address</label>
            </div>
            <div class="row">
                <textarea name="message" id="message" class="row_input" cols="30" rows="5" required></textarea>
                <label for="message" class="label">message</label>
            </div>
            <div class="row">
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>