.my-cart-logo {
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-logo {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #ffa500;
}