<h2 class="text-center my-5 text-primary">👜MYCART</h2>
<div class="container-fluid">
    <div class="card p-3">
        <app-cart-item></app-cart-item>
    </div>
    <div class="row bg-secondary d-flex  flex-row align-items-center justify-content-around">
        <div class="col-md-6 col-sm-12">
            <span class="fs-3 bg-secondary text-light ms-5">Total items - 3 </span>
        </div>
        <div class="col-md-6 col-sm-12">
            <button class="btn  h-25 m-2 text-center w-25">Pay Now</button>
        </div>
    </div>
</div>