<h2 class="text-center text-dark my-4 font-weight-bold">Login</h2>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="m-3">
                <label for="email" class="mb-2">Email</label>
                <input type="email" id="email" class="form-control text-dark mb-2" name="email"
                    placeholder="Enter Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5"
                    maxlength="70" #email="ngModel" [(ngModel)]="model.email" required>
                <div class="text-danger" *ngIf="email.invalid && email.touched">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['pattern']">Email is invalid.</div>
                </div>
            </div>
            <div class="m-3">
                <label for="password" class="mb-2">Password</label>
                <input type="password" id="password" class="form-control text-dark mb-2" name="password"
                    placeholder="Enter Password" minlength="6" maxlength="25" #password="ngModel"
                    [(ngModel)]="model.password" required>
                <div class="text-danger" *ngIf="password.invalid && password.touched">
                    <div *ngIf="password.errors?.['required']">Password is required.</div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
                    routerLinkActive="router-link-active">
                    Login</button>
            </div>
            <div class="d-flex justify-content-around">
                <div class="d-flex">
                    <p>Not a member?</p>
                    <a class="text-decoration-none text-primary ms-1" [routerLink]="['/signup']">Sign up</a>
                </div>
            </div>
        </form>
    </div>
</div>