<h1 class="text-center mt-3">See What Your Customer Says!</h1>
<div class="row d-flex justify-content-center p-4">
    <div class="col-md-8">
        <div class="card my-3 bg bg-primary">
            <div class="card-body m-2 bg bg-light">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                        <img src="assets/images/avatar1.jpg" class="rounded-circle img-fluid shadow-1"
                            alt="woman avatar" width="100" height="100" />
                    </div>
                    <div class="col-lg-8">
                        <p class="text-muted mb-4">
                            "My Cart has good customer service and quality products."
                        </p>
                        <p class="fw-bold lead mb-2"><strong>Anna Mary</strong></p>
                        <p class="fw-bold text-muted">anna123@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-3 bg bg-primary">
            <div class="card-body m-2 bg bg-light">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                        <img src="assets/images/avatar2.jpg" class="rounded-circle img-fluid shadow-1" alt="male avatar"
                            width="100" height="100" />
                    </div>
                    <div class="col-lg-8">
                        <p class="text-muted mb-4">
                            "Customer friendly and good services."
                        </p>
                        <p class="fw-bold lead mb-2"><strong>John Doe</strong></p>
                        <p class="fw-bold text-muted">johndoe97@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>