<div class="container-fluid">
    <div class="row d-flex justify-content-center p-4">
        <div class="col-md-8">
            <div class="card my-3 bg bg-primary">
                <div class="card-body m-2 bg bg-light">
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="text-muted mb-4">
                                {{feedbackItem.description}}
                            </p>
                            <p class="fw-bold lead mb-2"><strong>{{feedbackItem.name}}</strong></p>
                            <p class="fw-bold text-muted">{{feedbackItem.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>