<section name="header-banner">
    <div class="banner-container">
    </div>
</section>
<section name="product-list">
    <div class="bg-primary d-flex justify-content-center mb-3">
        <span class="fs-3 text-light">Products</span>
    </div>
    <div class="container-fluid">
        <div class="row mx-5">
            <div class="col-md-3 col-6 mb-3" *ngFor="let item of productsCards">
                <div class="card bg-secondary">
                    <img class="card-img-top" src="https://picsum.photos/200" alt="Title" height="220px" width="180px">
                    <div class="card-body text-light">
                        <h4 class="card-title">{{item.name}}</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>