<section name="header-banner">
    <div class="banner-container">
    </div>
</section>
<section name="product-list">
    <div class="bg-primary d-flex justify-content-center mb-3">
        <span class="fs-3 text-light">Products</span>
    </div>
    <div class="container-fluid">
        <div class="row mx-5">
                <div class="col-md-3 col-sm-3 col-12 mb-3" *ngFor="let item of products">
                    <a [routerLink]="['/product', item.id]" routerLinkActive="router-link-active" >
                    <div class="card bg-secondary h-100">
                        <img class="card-img-top" src="https://picsum.photos/200" alt="Title" height="220px"
                            width="180px">
                        <div class="card-body text-light">
                            <h4 class="card-title fw-bold">{{item.name}}</h4>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div>
                                    <del>
                                        {{item.price.retailPrice | currency: 'INR'}}
                                    </del>
                                </div>
                                <div class="fw-bold fs-5">{{item.price.offerPrice | currency: 'INR'}}</div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
        </div>
    </div>
</section>