<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <fa-icon class="fs-3" [icon]="faShop"></fa-icon>
            <span class="my-cart-logo">MY</span>
            <span class="cart-logo">CART</span>
        </a>
        <form class="d-flex my-2 my-lg-0  w-25">
            <input class="form-control me-sm-2 me-sm-2 form-search " type="text" placeholder="Search">
        </form>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto ms-auto mt-2 mt-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link active" href="#" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contact</a>
                </li>
            </ul>
            <div>
                <a class="btn btn-info me-2 text-light login-btn" [routerLink]="['/customer/customerHome']"
                    routerLinkActive="router-link-active">
                    Login</a>
                <a class="btn btn-warning me-2 text-light register-btn">Register</a>
            </div>
        </div>
    </div>
</nav>