<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-10 col-xl-8">
            <div class="card">
                <div class="card-header px-4 py-2">
                    <h5 class="text-muted">Place your order.</h5>
                </div>
                <form #form="ngForm" (ngSubmit)="onSubmit()">
                    <label for="address">Delivery Address</label>
                    <div class="p-3">
                        <textarea [(ngModel)]="model.deliveryAddress" name="address" id="address" cols="20" rows="5"
                            class="form-control">
                        </textarea>
                    </div>
                    <div class="card-body p-4">
                        <p class="text-muted">Your order</p>
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <app-order-item [orderedProduct]="item"
                                        *ngFor="let item of cartItems"></app-order-item>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer px-4 py-2 bg-info">
                            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase">Total
                                amount: <span class="h2 mb-0 ms-2">{{this.model.totalPrice | currency:'INR'}}</span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-2">
                            <button class="btn btn-success btn-lg">Book Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>