<footer class="container-fluid text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div id="contact-us" class="me-5 d-none d-lg-block ms-5">
      <span>Get connected with us on social networks:</span>
    </div>

    <div class="me-auto">
      <a href="https://www.facebook.com" class="me-4 text-reset">
        <fa-icon [icon]="faFb"></fa-icon>
      </a>
      <a href="https://twitter.com/login?lang=en" class="me-4 text-reset">
        <fa-icon [icon]="faTw"></fa-icon>
      </a>
      <a href="https://web.whatsapp.com/" class="me-4 text-reset">
        <fa-icon [icon]="faWtsapp"></fa-icon>
      </a>
      <a href="https://www.instagram.com/" class="me-4 text-reset">
        <fa-icon [icon]="faInsta"></fa-icon>
      </a>
      <a href="https://in.linkedin.com/" class="me-4 text-reset">
        <fa-icon [icon]="faLin"></fa-icon>
      </a>
      <a href="https://git-scm.com/" class="me-4 text-reset">
        <fa-icon [icon]="faGit"></fa-icon>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>MY CART
          </h6>
          <p id="#about-us">
            Here you can browse, pre-order and shop for different variety of products. An awesome website that makes you
            want to shop more!!!
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a class="text-reset">Electronics</a>
          </p>
          <p>
            <a class="text-reset">Fashion</a>
          </p>
          <p>
            <a class="text-reset">Grocery items</a>
          </p>
          <p>
            <a class="text-reset">Sports items</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a class="text-reset">Register</a>
          </p>
          <p>
            <a class="text-reset">login</a>
          </p>
          <p>
            <a class="text-reset">About</a>
          </p>

        </div>

        <div id="contact-us" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Kochi, Ernakulam, Kerala</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            team4@outlook.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 934 897 565 8</p>
          <p><i class="fas fa-print me-3"></i> + 91 897 676 564 2</p>
        </div>
      </div>
    </div>
  </section>
  <div id="bgcolor" class="text-center p-4">
    &copy; 2021 Copyright:
    <a class="text-reset fw-bold" href="">MyCart.com</a>
  </div>
</footer>