<h1 class="text-center text-dark my-4 font-weight-bold">Update Products</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form #productform="ngForm" (ngSubmit)="onSubmit()">
            <div class="my-3">
                <div class="my-3">
                    <label>Product Name</label>
                    <input type="text" name="pname" [(ngModel)]="model.name" #pname="ngModel" class="form-control"
                        placeholder="Enter Product Name" required>
                    <div class="text-danger" *ngIf="pname.invalid && pname.touched">
                        <div *ngIf="pname.errors?.['required']">Product name is required</div>
                    </div>
                </div>
                <div class="my-3">
                    <label>Brand Name</label>
                    <input type="text" name="bname" [(ngModel)]="model.brand" #bname="ngModel" class="form-control"
                        placeholder="Enter Product Brand Name" required>
                    <div class="text-danger">
                        <div class="text-danger" *ngIf="bname.invalid && bname.touched">
                            <div *ngIf="bname.errors?.['required']">Product brand name is required</div>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <label>Description</label>
                    <textarea name="description" [(ngModel)]="model.description" #description="ngModel"
                        class="form-control" placeholder="Enter Product Description" required></textarea>
                    <div class="text-danger" *ngIf="description.invalid && description.touched">
                        <div *ngIf="description.errors?.['required']">Product description is required.</div>
                    </div>
                </div>
                <div class="my-3">
                    <label>Maximum Retail Price</label>
                    <input name="mrp" type="number" [(ngModel)]="model.retailPrice" #mrp="ngModel" class="form-control"
                        placeholder="Enter Maximum Retail Price" required min="1" max="999999" step="0.01" value="0.01">
                    <div class="text-danger" *ngIf="mrp.touched && mrp.invalid">
                        <div *ngIf="mrp.errors?.['required']">Maximum Retail Price is required</div>
                        <div *ngIf="mrp.errors?.['min']">Invalid Price Value</div>
                    </div>
                </div>
                <div class="my-3">
                    <label>Offer Price</label>
                    <input name="offer" type="number" [(ngModel)]="model.offerPrice" #offer="ngModel"
                        class="form-control" placeholder="Enter Offer Price" required min="1" max="999999" step="0.01"
                        value="0.01">
                </div>
                <div class="text-danger" *ngIf="offer.touched && offer.invalid">
                    <div *ngIf="offer.errors?.['required']">Offer Price is required</div>
                    <div *ngIf="offer.errors?.['min']">Invalid Price Value</div>
                </div>
                <div class="my-3">
                    <label>Stock</label>
                    <input name="quantity" type="number" [(ngModel)]="model.stock" #quantity="ngModel"
                        class="form-control" placeholder="Enter Product Quantity" required max="1000" min="1" step="1"
                        value="1">
                    <div class="text-danger" *ngIf="quantity.touched && quantity.invalid">
                        <div *ngIf="quantity.errors?.['required']">Product quantity is required</div>
                        <div *ngIf="quantity.errors?.['min']">Invalid stock value</div>
                    </div>
                </div>
                <div class="d-grid my-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-30" [disabled]="productform.invalid">ADD</button>
                </div>
            </div>
        </form>
    </div>
</div>