<h1 class="text-center text-dark my-4 font-weight-bold">Update Products</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form #productform="ngForm" (ngSubmit)="onSubmit()">
            <!-- <div class="my-3">
                <label>Product Image</label>
                <input type="file" name="image" [(ngModel)]="model.image" #image="ngModel" class="form-control"
                    placeholder="Upload Product Image" required>
                <div class="text-danger" *ngIf="image.invalid && image.touched">
                    <div *ngIf="image.errors?.['required']">Product image is required</div>
                </div>
            </div> -->
            <div class="my-3">
                <label for="category">category</label>
                <input type="text" name="categoryId" [(ngModel)]="model.categoryId" value="{{model.categoryId}}" class="form-control"> 
            </div>
            <div class="my-3">
                <label>Product Name</label>
                <input type="text" name="pname" [(ngModel)]="model.name" #pname="ngModel" class="form-control"
                    placeholder="Enter Product Name" required>
                <div class="text-danger" *ngIf="pname.invalid && pname.touched">
                    <div *ngIf="pname.errors?.['required']">Product name is required</div>
                </div>
            </div>
            <div class="my-3">
                <label>Brand Name</label>
                <input type="text" name="bname" [(ngModel)]="model.brand" #bname="ngModel" class="form-control"
                    placeholder="Enter Product Brand Name" required>
                <div class="text-danger">
                    <div class="text-danger" *ngIf="bname.invalid && bname.touched">
                        <div *ngIf="bname.errors?.['required']">Product brand name is required</div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <label>Description</label>
                <textarea name="description" [(ngModel)]="model.description" #description="ngModel" class="form-control"
                    placeholder="Enter Product Description" required></textarea>
                <div class="text-danger" *ngIf="description.invalid && description.touched">
                    <div *ngIf="description.errors?.['required']">Product description is required.</div>
                </div>
            </div>
            <div class="my-3">
                <label>Maximum Retail Price</label>
                <input type="number" name="mrp" [(ngModel)]="model.retailPrice" #mrp="ngModel" class="form-control"
                    placeholder="Enter Maximum Retail Price" required>
                <div class="text-danger" *ngIf="mrp.touched && mrp.invalid">
                    <div *ngIf="mrp.errors?.['required']">Maximum Retail Price is required</div>
                </div>
            </div>
            <div class="my-3">
                <label>Offer Price</label>
                <input type="number" name="offer" [(ngModel)]="model.offerPrice" #offer="ngModel" class="form-control"
                    placeholder="Enter Offer Price">
            </div>
            <div class="my-3">
                <label>Quantity</label>
                <input type="number" name="quantity" [(ngModel)]="model.stock" #quantity="ngModel"
                    class="form-control" placeholder="Enter Product Quantity" required>
                <div class="text-danger" *ngIf="quantity.touched && quantity.invalid">
                    <div *ngIf="quantity.errors?.['required']">Product quantity is required</div>
                </div>
            </div>
            <div class="d-grid my-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-30" [disabled]="productform.invalid"
                    [routerLink]="">Submit</button>
            </div>
        </form>
    </div>
</div>