<div class="container-fluid d-flex flex-column justify-content-center">
    <span id="text1" class="text text-center">Please enter the One Time Password to verify the account</span>
    <span id="text2" class="text text-center">A One-Time Password has sent to your email account</span>
    <form class="d-flex flex-column justify-content-center align-items-center">
        <div class="inner-container d-flex flex-row justify-content-center my-5">
            <input type="text" class="text-center form-control rounded w-50" autofocus maxlength="6" minlength="6"
                required>
        </div>
        <span>Didn't get the OTP?<a href="#" class="text-decoration-none">Resend</a></span>
        <button class="btn btn-info my-5">Verify OTP</button>
    </form>
</div>